<div class="logo-box">
    <img class="car-logo" src="/CarPay/static/images/carLogo.png">
</div>
<ul class="list">
    <li class="item"><span class="option">加油服务</span> <i class="ion-chevron-right ico-next"></i></li>
    <li class="item"><span class="option">自助缴费</span><i class="ion-chevron-right ico-next"></i></li>
    <li class="item"><span class="option" ng-click="checkNFC()">实体停车卡充值</span><i class="ion-chevron-right ico-next"></i></li>
    <li class="item"><span class="option">刷手机支付停车费</span><i class="ion-chevron-right ico-next"></i></li>
</ul>